<!DOCTYPE html>
<html>
  {{{ common.head }}}
  <body lang="en">
    {{{ common.navbar }}}
    <div class="container">
      <h1>About Me</h1>
      {{{ about.content }}}
      <p>Github: <a class="custom-link" href="https://github.com/esdrw">@esdrw</a></p>
      <p>Twitter (rather dead): <a class="custom-link" href="https://twitter.com/etawang">@etawang</a></p>
    </div>
  </body>
</html>
